body {
    margin: 1rem;
    padding: 1rem;
    h1 {
        margin: 1rem 0;
        padding: 1rem;
        font-size: 3rem;
        color: rgb(41, 48, 41);
        background: rgba(238, 174, 202, 1);
        footer {
            font-family: Arial, Helvetica, Sans-serif;
            color: white;
            background-color: darksalmon;
            font-size: 100%;
            margin-bottom: 3rem;
            line-height: 1.5;
            text-align: center;
            display: inline-block;
            position: relative;
        }
    }
}
body{
    .enviar{
        width: 20%;
    }
}
body{
    .datos{
        font-size: 25px;
    }
}