
/*------------RESPONSIVE----------------*/

/* Desktop*/
@media screen and (max-width: 1200px) {
    body {
        overflow-y: scroll;
        background: rgb(238, 174, 202);
        background: radial-gradient(circle, rgba(238, 174, 202, 1) 72%, rgba(148, 187, 233, 1) 100%);
    }
    h1 {
        text-align: right;
        justify-content: center;
    }
    .navbar {
        list-style-type: none;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        margin: .5rem;
        padding: .5rem;
        align-items: center;
        flex-wrap: wrap;
    }
    .img3 {
        width: 70%;
    }
    .img4 .img5 {
        width: 100%;
    }
    .container1 {
        width: 80%;
        .item1 {
            width: 90%;
            .img5 {
                width: 100%;
        }}}
}
/*Tablet*/
@media screen and (max-width: 780px) {
    body {
        overflow-y: scroll;
    background: rgb(238, 174, 202);
        background: radial-gradient(circle, rgba(238, 174, 202, 1) 72%, rgba(148, 187, 233, 1) 100%);
    }
    h1 {
        text-align: right;
        justify-content: center;
    }
    .navbar {
        list-style-type: none;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        margin: .5rem;
        padding: .5rem;
        align-items: center;
        flex-wrap: wrap;
    }
    .img3 {
        width: 70%;
    }
    .img4 .img5 {
        width: 100%;
    }
    .container1 {
        width: 80%;
        .item1 {
            width: 90%;
            .img5 {
                width: 100%;
        }}}
}
/*Mobile*/
@media screen and (max-width: 480px) {
    body {
        overflow-y: scroll;
        background: rgb(238, 174, 202);
        background: radial-gradient(circle, rgba(238, 174, 202, 1) 72%, rgba(148, 187, 233, 1) 100%);
    }
    h1 {
        text-align: center;
        justify-content: center;
    }
    .navbar {
        list-style-type: none;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        margin: .5rem;
        padding: .5rem;
        align-items: center;
        flex-wrap: wrap;
    }
        .item1{
            grid-template-areas:
            "titulo"
            "img3"
            "img4"
            "img5"
            "footer";
        width: 100%;
        grid-template-columns: 1fr;
        }
        
        .imgbootstrap {
            width: 60%;
        }
}